#slider {
    grid-area: slider;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: grey;
}

#slider .test123 {
    max-width: 100%;
    max-height: 100%;
}