/* * {
    border: 1px solid red;
} */

html {
    margin: 0;
}

body {
    margin: 0;
}

#body {
    display: grid;
	grid-template-areas: 
    "header header header"
    "asideL slider asideR"
    "asideL content asideR"
    "footer footer footer";
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 83px 30% 70% 160px;
    height: 100vh;
    margin: 0;  
}